# Binaries for programs and plugins
**/*.exe
*.exe~
*.dll
*.so
*.dylib
bin
.tmp

# Test binary, built with `go test -c`
*.test

# Live reload(Air)
.tmp

# 3rd party dependencies
vendor

# Other files
.git
.github
deployments
testdata
.air.toml
.env
.gitignore
LICENSE
Makefile
README.md
