# Binaries for programs and plugins
**/*.exe
*.exe~
*.dll
*.so
*.dylib
bin

# Test binary, built with `go test -c`
*.test

# Live reload(Air)
.tmp

# Dot env file
**/.env.*
**/*.env
!.env.example
!.env.test

# 3rd party dependencies
vendor
